@import 'variables';
@import 'mixins';
@import 'navbar';

.container {
    width: 500px;
    height: 500px;
    border: 1px solid $color-secundario;
    @include fondovioleta;

    section {
        div {
            @include elementorepetitivo;
        }
    }
}